
@tailwind base;
@tailwind components;
@tailwind utilities;

/* الوضع العادي */
.filament-sidebar {
    background-color: #71689E !important; /* اللون الأساسي */
}

.filament-main-content {
    background-color: #f8f9fa !important;
}

/* الوضع الداكن */
.dark .filament-sidebar {
    background-color: #1e293b !important; /* لون الشريط الجانبي في الوضع الداكن */
}

.dark .filament-main-content {
    background-color: #71689E !important; /* لون خلفية المحتوى */
}

/* تغيير لون النص */
.dark .filament-sidebar a {
    color: #d1d5db !important; /* لون النص */
}
